<div class="row">
    <div class="col-xs-12">
        <form>
            <div class="row">
               <div class="col-sm-5 form-group" >
                    <label for="name">Name</label>
                    <input type="text" name="name" id="name" class="form-control">
               </div>
               <div class="col-sm-2 form-group">
                <label for="amount">Amount</label>
                <input type="number" id="amount" class="form-control">
               </div>
            </div>
            <div class="col-xs-12">
                <button type="submit" class="btn btn-success mx-30" >Add</button>
                <button type="button" class="btn btn-danger mx-30">Delete</button> 
                <button type="button" class="btn btn-primary mx-30">Clear</button>
            </div>
        </form>
    </div>  
</div>
